
<div class="container">
  <div class="row">
        <div class=col-md-2 col-margin>
          <h5><em> Recently added companies at the top. </em></h5>
        </div>
         <div class=col-md-2 col-margin>
          <h6><em> Let your friends know about us! </em></h6>
           <div class=col-md-2 col-margin>
             <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.gatedcommunety.com/"><span class="rrssb-icon">
              <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid" width="29" height="29" viewbox="0 0 29 29">
                <path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z" fill-rule="evenodd" class="cls-2"></path>
              </svg></span></a>
      
           </div></div>
    </div></div>

<h1 class="current-category"><%= params[:category] %></h1>
<% if @companies.count == 0 %>
<h1> There are no companies currently in this category </h1>
<% else %>


<div class="row">
<% @companies.each do |company| %>
  <div class="col-md-3">
<a href="/companies/<%= company.id %>"> 
  <%= image_tag company.company_img.url(:company_index), class: "company" %>
    </a>
  </div>

<% end %>
  </div>

<% end%>



