<h5><em> Recently added companies at the top. </em></h5> 

<h1 class="current-category"><%= params[:category] %></h1>
<% if @companies.count == 0 %>
<h1> There are no companies currently in this category </h1>
<% else %>
<iframe src="https://www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.gatedcommunety.com%2F&layout=button&size=large&mobile_iframe=true&width=73&height=28&appId" width="73" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>


<div class="row">
<% @companies.each do |company| %>
  <div class="col-md-3">
<a href="/companies/<%= company.id %>"> 
  <%= image_tag company.company_img.url(:company_index), class: "company" %>
    </a>
  </div>

<% end %>
  </div>

<% end%>


