<h5><em> Recently added companies at the top. </em></h5> 
<div class="page-header">
  <h1>Share Dialog</h1>
</div>

<p>Click the button below to trigger a Share Dialog</p>

<div id="shareBtn" class="btn btn-success clearfix">Share</div>

<p style="margin-top: 50px">
  <hr />
  <a class="btn btn-small"  href="https://developers.facebook.com/docs/sharing/reference/share-dialog">Share Dialog Documentation</a>
</p>

<script>
document.getElementById('shareBtn').onclick = function() {
  FB.ui({
    method: 'share',
    display: 'popup',
    href: 'https://developers.facebook.com/docs/',
  }, function(response){});
}
</script>


<h1 class="current-category"><%= params[:category] %></h1>
<% if @companies.count == 0 %>
<h1> There are no companies currently in this category </h1>
<% else %>


<div class="row">
<% @companies.each do |company| %>
  <div class="col-md-3">
<a href="/companies/<%= company.id %>"> 
  <%= image_tag company.company_img.url(:company_index), class: "company" %>
    </a>
  </div>

<% end %>
  </div>

<% end%>


