<div class="col-md-9 col-md-offset-2">
  <div class="aboutus-form">
    <h1> <strong> How It Works? </strong> </h1>
    <h5> (Get started in less than a minute..) </h5>
<h4> <p> Add a company (members only), rate companies on a scale from 1-5 (members only), comment and share your experience with companies (members only), or just browse through companies for your own personal information (available to everyone). </p>

<p> Think of this site as an extension of Bauer Gateway, like it's distant cousin or something, where students and alumni can come together and opinionate over company culture and experience! Whether you met with a company during a mixer or have interviewed with them let us know how it went and their level of professionalism! Dont worry your identity is completely anonymous due to Rails 5 (the app framework this site uses) use of strong parameters and private methods. This site is open for ALL University of Houston Bauer College students and alumni. We welcome all majors and grade levels! </p>
  
In order to add a company for review you must sign up to our services and agree to the terms below. Please, no profanity or rude behavior. This app's main purpose is to inform students and alumni about companies that they are interested in, interviewing with, or just curious about and help you make the best decision for your career. You can filter companies by the industry they're in on the far right under 'Industry' to aid you better in your search and you can add companies right next to it by clicking on 'Add Company' if you don't happen to find a company on the existing list. </h4>
<p></p>
    <h1 id="second"><p><strong> RULES FOR ADDING A COMPANY! </strong></p></h1>
     <h5> (Quick & easy..) </h5>
    <h4> 
<ol>
<li>Please check and double check that another user hasn't added the same company as you did. If you do add a company and later discover that another user has added a company before you its fine. Just copy and paste your comment over to the existing post, then delete your post.  </li> <p></p>
  <li>You're limited to ONE review per company. Nobody knows who you are, but if you do change your mind you can always delete it at anytime. </li> <p></p>
  <li>Whenever you're adding a company to the site please choose an appropriate photo of the company you can always google the company's name, download the image to your computer then upload it, the web app will automatically shrink/expand your picture depending on the size of it. We prefer medium to large sized pictures please!</li> <p></p>
  <li>Quick Tip! Go to the company's website and copy and paste a couple paragraphs from it's "About Us" page whenever you are filling out the 'Description' section of the form.  </li> <p></p>
  <li>There aren't really any more rules! Feel free to share your experience! Sign up with us today by clicking on the 'Sign Up' tab above!</li> <p></p>
      </ol></h4>
    
    <p></p>
      <div class="container">
  <div class="row">
        <div class=col-md-2 col-margin>
          <h6><em> Let your friends know about us! </em></h6>
    </div>
           <div class=col-md-2 col-margin>
             <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.gatedcommunety.com/"><span class="rrssb-icon">
              <svg xmlns="http://www.w3.org/2000/svg" preserveaspectratio="xMidYMid" width="29" height="29" viewbox="0 0 29 29">
                <path d="M26.4 0H2.6C1.714 0 0 1.715 0 2.6v23.8c0 .884 1.715 2.6 2.6 2.6h12.393V17.988h-3.996v-3.98h3.997v-3.062c0-3.746 2.835-5.97 6.177-5.97 1.6 0 2.444.173 2.845.226v3.792H21.18c-1.817 0-2.156.9-2.156 2.168v2.847h5.045l-.66 3.978h-4.386V29H26.4c.884 0 2.6-1.716 2.6-2.6V2.6c0-.885-1.716-2.6-2.6-2.6z" fill-rule="evenodd" class="cls-2"></path></svg></span></a> </div>
      
    
    </div>
</div>
