<%= simple_form_for([@company, @company.reviews.build]) do |r| %>
<div id ="rating-form">
  <label>Rating</label>
</div>
<%= r.input :comment %>
<%= r.button :submit, :class => "btn-custom2" %>
<% end %>

<script>
  $('#rating-form').raty({
    path: '/assets/',
    scoreName: 'review[rating]'
  });
</script>